@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Pompiere&family=Special+Gothic:wght@400..700&display=swap');

.oooh-baby-regular {
  font-family: "Oooh Baby", cursive;
  font-weight: 400;
  font-style: normal;
}
.pompiere-regular {
  font-family: "Pompiere", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.animationOwner {
  animation: marque 14s linear infinite;
}

@keyframes marque {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-600px);
  }
}

@theme {
  --color-who_we_are_bgColor:#C3B1E1;
  --color-services_bgColor:#E7D0D9;
  --color-card_bgColor:#DDE4F8;
;
}